* {
    margin: 0;
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    border: 2px solid red;
    height: 300px;
    height: 100vh;
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#slide-1 {
    background-color: bisque;
}
#slide-1 {
    background-color: lightgreen;
}
#slide-3 {
    background-color: greenyellow;
}